## temp files
.DS_Store

## .pyc files
*.pyc

## .cache files
lastfailed

## files written out by parsers
sites/*.txt
/test/parser_out.txt

## difference logs
test/difference_logs/*

## Single url file for testing
/test/single_url.txt
