## temp files
.DS_Store

## .pyc files
*.pyc

## .cache files
lastfailed

## files written out by parsers
sites/*.txt
/test/parser_out.txt

## Difference logs
/test/difference_logs/*

## log files
*.log

## text files
*.txt
